.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

.character{ 
  display: flex;
  flex-direction: column;
  border: 1px solid ;
  margin-top:2%;
  margin-bottom: 2%;
  box-shadow: 20px;
  font-family: 'Roboto';
  
}


/* .character :hover{
  background-color: gray;
  opacity: 0.5;
} */

.character .titleCharacter{
  display: flex;
  justify-content: space-around;
  
}

.titleCharacter h1{
  font-weight: 900;
}


.titleCharacter h2{
  font-weight: 900;
  padding: 5px;
  background-color: black;
  color: #FFE81F;
  border-radius: 20px;
  border: 3px solid black;
  box-shadow: 5px 5px 5px gray;
}


.character .stats{
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
}
.character h3{
  width: 50%;
}